footer {
    background: black;
    padding: 20px 40px;
    color: white;
    margin-top: auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    width: 33%;
}

.footer-item.left {
    text-align: left;
}

.footer-item.center {
    text-align: center;
}

.footer-item.right {
    text-align: right;
}

.footer-bottom {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

.footer-img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-img img {
    width: 500px;
}

.footer-compact {
    background: black;
    padding: 8px 15px;
    color: white;
    text-align: center;
    margin-top: auto;
    font-size: 11px;
}

.footer-compact .footer-logo img {
    width: 50px;
    border-radius: 10px;
}

.footer-compact .footer-btn {
    background-color: #d3ac4d;
    color: #080807;
    border: none;
    padding: 6px 14px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    font-size: 11px;
}

.footer-compact .footer-btn:hover {
    opacity: 0.8;
}